server {
    listen       80;
    server_name  www.{{app_domain}};
    return       301 http://{{app_domain}}$request_uri;
}

server {
    {% if app_ip is defined %}
    listen {{app_ip}}:80;
    {% else %}
    listen 80;
    {% endif %}

    {% if app_domain_aliases is defined %}
    server_name {{app_domain}} {{app_domain_aliases}};
    {% else %}
    server_name {{app_domain}};
    {% endif %}



    root /var/www/apps/{{app_name}}/public_html;

    access_log /var/www/logs/{{app_name}}/access.log;
    error_log /var/www/logs/{{app_name}}/error.log;

    {% if app_rewrite_rules is defined %}
    {% for item in app_rewrite_rules %}
      {{ item }}
    {% endfor %}
    {% endif %}


    location / {
        index index.html index.htm index.php;


        try_files $uri $uri/ =404;
    }


    error_page 404 /404.html;
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /var/www/html;
    }


    location ~ \.php$ {
        #try_files $uri =404;

        include snippets/fastcgi-php.conf;

        fastcgi_pass unix:/run/php/php5.6-fpm.sock;


        #fastcgi_split_path_info ^(.+\.php)(/.+)$;
        #fastcgi_pass unix:/var/run/php5.6-fpm.sock;
        #fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;

        include fastcgi_params;
    }
}







