{
  "sensu": [
    {
      "name": "sensu",
      "host": "127.0.0.1",
      "ssl": false,
      "insecure": true,
      "port": 4567,
      "user": "admin",
      "pass": "admin",
      "path": "",
      "timeout": 5
    }
  ],
  "uchiwa": {
    "host": "0.0.0.0",
    "port": 3010,
    "user": "admin",
    "pass": "admin",
    "refresh": 5
  }
}
