{
  "rabbitmq": {
    "host": "rabbit.local",
    "vhost": "/sensu",
    "user": "sensu",
    "password": "pwd"
  },
  "redis": {
    "host": "localhost"
  },
  "redis_counters": {
    "host": "api.local",
    "prefix": "gex"
  },
  "api": {
    "host": "localhost",
    "port": 4567
  }
}
