{
  "rabbitmq": {
        "host": "{{rabbitmq_host}}",
        "vhost": "/sensu",
        "user": "sensu",
        "password": "pwd"
  },
  "redis": {
    "host": "localhost"
  },

  "api": {
    "host": "localhost",
    "port": 4567,
    "user": "admin",
    "password": "pwd"
  }
}
