appname = '{{app_name}}'
rails_env = '{{app_env}}'

#
rake_root = "/home/{{ruby_user}}/.rvm/wrappers/ruby-2.1.7"
bin_path   = "/home/{{ruby_user}}/.rvm/gems/ruby-2.1.7/bin/"

#
pid_path    = "/var/www/apps/#{appname}/shared/tmp/pids"
rails_root = "/var/www/apps/#{appname}/current"
name_prefix = "#{appname}-sidekiq-#{rails_env}"



num_workers = 1 #rails_env == 'production' ? 1 : 1

num_workers.times do |num|
  God.watch do |w|
    w.uid = '{{ruby_user}}'
    w.gid = 'dev'

    w.name          = "#{name_prefix}-#{num}"
    w.group         = 'sidekiq'
    w.env           = { 'RAILS_ENV' => rails_env, 'QUEUE' => '*' }
    w.dir           = rails_root
    w.log           = File.join(rails_root, 'log', "sidekiq-#{rails_env}.log")

    w.interval      = 90.seconds
    w.start_grace = 10.seconds
    w.restart_grace = 10.seconds

    #w.keepalive

    w.start = "bundle exec sidekiq -e #{rails_env} -c 1 -C #{rails_root}/config/sidekiq.yml -L #{w.log}"
    w.stop  = "if [ -d #{rails_root} ] && [ -f #{pid_path}/sidekiq.pid ] && kill -0 `cat #{pid_path}/sidekiq.pid`> /dev/null 2>&1; then cd #{rails_root} && #{bin_path}/bundle exec sidekiqctl stop #{pid_path}/sidekiq.pid 10 ; else echo 'Sidekiq is not running'; fi"



    w.start_if do |start|
      start.condition(:process_running) do |c|
        c.interval = 5.seconds
        c.running = false
      end
    end

    w.restart_if do |restart|
      restart.condition(:memory_usage) do |c|
        c.above = 300.megabytes
        c.times = [3, 5] # 3 out of 5 intervals
      end

      restart.condition(:cpu_usage) do |c|
        c.above = 50.percent
        c.times = 5
      end
    end

    w.lifecycle do |on|
      on.condition(:flapping) do |c|
        c.to_state = [:start, :restart]
        c.times = 5
        c.within = 5.minute
        c.transition = :unmonitored
        c.retry_in = 10.minutes
        c.retry_times = 5
        c.retry_within = 2.hours
      end
    end



    # after touch tmp/restart.txt
    w.transition(:up, :restart) do |on|
      # restart if server is restarted
      on.condition(:file_touched) do |c|
        c.interval = 5.seconds
        c.path = File.join(rails_root, 'tmp', 'restart.txt')
      end
    end

  end
end
